[Unit]
Description=ctop event subscription
After=network-online.target

[Service]
Type=simple
ExecStart=/home/range/ctop event-subscription-service --networks osmosis,tcp://51.89.6.201:12557

# Restart every >2 seconds to avoid StartLimitInterval failure
RestartSec=30
Restart=always

[Install]
WantedBy=multi-user.target
