[Unit]
Description=ctop redis event stream
After=network-online.target ctop_event_stream.service

[Service]
Type=simple
ExecStart=/home/range/ctop redis-event-stream --networks osmosis --db.url {{ postgres_url }}


# Restart every >2 seconds to avoid StartLimitInterval failure
RestartSec=30
Restart=always

[Install]
WantedBy=multi-user.target
